@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mently-blue: #1F0954;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}