@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-normal text-base text-body relative z-1;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes beat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.beating-logo {
  width: 150px; /* Adjust the size of your logo */
  height: auto;
  animation: beat 1s infinite; /* Adjust the duration as needed */
}
